<h1>Edit Mentor/Judge</h1>

<%= form_with(model: @mentors_judge, local: true) do |form| %>
  <% if @mentors_judge.errors.any? %>
    <div style="color: red;">
      <h3><%= pluralize(@mentors_judge.errors.count, "error") %> prohibited this record from being saved:</h3>
      <ul>
        <% @mentors_judge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :year %>
    <%= form.select :year, @ideathon_years, prompt: "Select Ideathon Year" %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :photo_url %>
    <%= form.text_field :photo_url %>
  </div>

  <div>
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.label :is_judge, "Is Judge?" %>
    <%= form.check_box :is_judge %>
  </div>

  <div>
    <%= form.submit "Update Mentor/Judge" %>
  </div>
<% end %>

<br>
<%= link_to "Back to Mentors & Judges", mentors_judges_path %>
