<h1>Mentors & Judges</h1>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Year</th>
      <th>Name</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @mentors_judges.each do |mj| %>
      <tr>
        <td><%= mj.year %></td>
        <td><%= mj.name %></td>
        <td><%= mj.is_judge? ? "Judge" : "Mentor" %></td>
        <td>
          <%= link_to "View", mentors_judge_path(mj) %> |
          <%= link_to "Edit", edit_mentors_judge_path(mj) %>
          <% if admin? %>
            | <%= link_to "Delete", delete_mentors_judge_path(mj) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Mentor/Judge", new_mentors_judge_path %>

<% if admin? %>
  <hr>
  <h2>Import Mentors/Judges from CSV</h2>
  <p>CSV columns: <code>year, name, photo_url, bio, is_judge</code></p>
  <%= form_with url: import_mentors_judges_path, local: true, multipart: true do |form| %>
    <div>
      <%= form.label :file, "Select CSV file" %>
      <%= form.file_field :file %>
    </div>
    <div>
      <%= form.submit "Import" %>
    </div>
  <% end %>
<% end %>
