<h1>New Rule</h1>

<%= form_with(model: @rule, local: true) do |form| %>
  <% if @rule.errors.any? %>
    <div style="color: red;">
      <h3><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h3>
      <ul>
        <% @rule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :year %>
    <%= form.select :year, @ideathon_years, prompt: "Select Ideathon Year" %>
  </div>

  <div>
    <%= form.label :rule_text, "Rule Text" %>
    <%= form.text_area :rule_text %>
  </div>

  <div>
    <%= form.submit "Create Rule" %>
  </div>
<% end %>

<br>
<%= link_to "Back to Rules", rules_path %>
