<h1><%= @sponsors_partner.name %></h1>

<p><strong>Year:</strong> <%= @sponsors_partner.year %></p>
<p><strong>Type:</strong> <%= @sponsors_partner.is_sponsor? ? "Sponsor" : "Partner" %></p>
<% if @sponsors_partner.logo_url.present? %>
  <p><strong>Logo URL:</strong> <%= link_to @sponsors_partner.logo_url, @sponsors_partner.logo_url, target: "_blank" %></p>
<% end %>
<% if @sponsors_partner.blurb.present? %>
  <p><strong>Blurb:</strong> <%= @sponsors_partner.blurb %></p>
<% end %>

<%= link_to "Edit", edit_sponsors_partner_path(@sponsors_partner) %> |
<%= link_to "Back to Sponsors & Partners", sponsors_partners_path %>
<% if admin? %>
  | <%= link_to "Delete", delete_sponsors_partner_path(@sponsors_partner) %>
<% end %>
